header.header 
    div.container
        .header__wrap
            .header__logo UI.desk
            .nav
                 ul 
                    li
                         a(href="#") Home 
                    li  
                        a(href="#") About
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Testimonials
            .header__icon 
                img(src="./assets/imgs/search.svg", alt="search")
                img(src="./assets/imgs/cart.svg", alt="cart")
            //- .header__but_wrap 
            .header__button
                .header__button_text Order Now