// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #181D19;//основной цвет шрифта
$c-secondary: #5FB848;//дополнительный цвет макета
$c-text: #494949;//основной цвет кнопки макета
$c-text2: #ffff;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Montserrat', sans-serif;//основной
$headers-font: 'Montserrat', sans-serif;//для заголовков
$secondary-font: 'Open Sans', sans-serif;//дополнительный
